html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

p {
  font-size: 14px;
}

.alert {
  font-size: 14px;
  clear: both;
  max-width: 400px;
  margin: 20px auto;
  display: none;
  transition: opacity 1s ease-out;
}

.main-container {
  height: 100%;
  width: 100%;
}

.search-container {
  display: inline-block;
  position: absolute;
  z-index: 2;
  background: white url('../img/background.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
}

#search-form {
  margin: 2%
}

.front-input {
  width: 90%;
  max-width: 400px;
  margin: 5px auto;
}

#button-search {
  padding: 15px 30px;
  background: #7faa2c;
  border-color: #7faa2c;
}

#button-search:hover {
  background: #95c733;
}

#logo {
  display: inline-block;
  width: 80%;
  max-width: 300px;
  height: auto;
  margin-top: 7vh;
}

.intro-text {
  color: white;
  font-size: 22px;
  margin: 20px 0;
}

@media (max-width: 480px) {
  .intro-text {
    font-size: 16px;
  }
}

.header {
  padding: 3%;
  text-align: center;
}

h3 {
  text-align: center;
}

.results {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  background: url('../img/loading.gif') no-repeat center;
  box-sizing: border-box;
  padding-top: 65px;
}

#map-header {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: white;
  background: #aad14a;
}

#map-header h3 {
  margin: 20px 0;
  padding: 0 60px;
}

@media (max-width: 768px) {
  #map-title-extra {
    display: none;
  }
}

#back-to-front {
  position: absolute;
  margin: 9px;
  z-index: 1;
  font-size: 16px;
  background: transparent;
  border: 2px solid white;
  padding: 14px;
  border-radius: 50%;
}

.input-group .form-control {
  z-index: 0;
}

#map {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-header, .modal-footer {
  text-align: center;
}

.modal-header {
  background: #e67428;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

button.close {
  color: white;
  opacity: .4;
}

.modal-div {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.no-results {
  font-size: 3vmin;
  padding: 2vh 1vw;
}

li {
  font-size: 3vmin;
}

ul {
  display: flex;
  height: 30vmin;
  margin-top: 2vh;
  margin-bottom: 10px;
  flex-flow: column wrap;
  align-content: stretch;
}

.no-results-header {
  font-size: 36px;
}

.modal-div > img {
  max-height: 300px;
  max-width: 100%;
}

.modal-div a {
  font-size: 14px;
}

a.modal-link {
  display: block;
  font-size: 3vmin;
  cursor: pointer;
  margin: 15px 0;
  text-align: center;
}